# Sync server Anki
SYNC_USER1=votre_username:votre_mot_de_passe

# VAPID pour les Web Push notifications
# Générer avec : python scripts/generate_vapid.py
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:votre@email.com
